<%= form_for(@clinic_image) do |f| %>
  <% if @clinic_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic_image.errors.count, "error") %> prohibited this clinic_image from being saved:</h2>

      <ul>
      <% @clinic_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
