<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accreditation.name %>
</p>

<%= link_to 'Edit', edit_accreditation_path(@accreditation) %> |
<%= link_to 'Back', accreditations_path %>
