  <!-- META TAGS -->
  <meta charset="UTF-8">
  <!-- Title -->
  <title>Mediwalla</title>
      <!-- Define a view port to mobile devices to use - telling the browser to assume that
         the page is as wide as the device (width=device-width)
         and setting the initial page zoom level to be 1 (initial-scale=1.0) -->
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta name="format-detection" content="telephone=no">
         <meta name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
         <!-- favicon -->
         <link rel="shortcut icon" href="images/favicon-new.png">
         <!-- Google Web Font -->
         <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
         
        <%= stylesheet_link_tag "application", "bootstrap",   "flexslider", "animations", "font-awesome", "datepicker", "swipebox", "meanmenu", "main", "custom-responsive" %>
        <link href='//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
        
        <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->

 