  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="<php echo 'http://www.google.com/chromeframe/?redirect=true'; ?>">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
      <div class="header-top clearfix">
         <div class="container">
            <div class="row">
               <div class="col-md-5 ">
                  <p>Do you have any questions? Contact +1-800-654-3210</p>
               </div>
               <!--opening hours-->
               <div class="col-md-7 text-right">
                  <p>
                     Opening Hours : <span>Monday to Saturday - 8am to 9pm</span>
                  </p>
               </div>
            </div>
         </div>
      </div>
      <header id="header">
         <div class="container">
            <!-- Website Logo -->
            <div class="logo clearfix">
               <h1>
                  <a href="index.html">
                     <!--  <img src="images/temp-images/logo-two.png" alt="Medicalpress"> -->
                     Mediwalla.com
                  </a>
               </h1>
            </div>
            <!-- Main Navigation -->
            <nav class="main-menu">
               <ul class="header-nav clearfix" id="menu-main-menu">
                  <li class="page_item">
                     <a href="index.html">About Us</a>
                  </li>
                  <li>
                     <a href="doctors-three-columns.html">How it works</a>
                  </li>
                  <li>
                     <a href="blog.html">FAQ</a>
                  </li>
                  <li>
                     <a href="#">Sign in</a>
                  </li>
                  <li>
                     <a href="#">Contact</a>
                  </li>
               </ul>
            </nav>
            <div id="responsive-menu-container"></div>
         </div>
      </header>