<!DOCTYPE html>
<html lang="en-US">
<!--<![endif]-->
<head>
	<%= render partial: "layouts/document_header" %>
</head>
<body>
	<%= render partial: "layouts/mast_head" %>
	<!--banner-->
<!-- 	<div class="page-top clearfix">
		<div class="container">
 -->			<!--page main heading-->
			<%= yield %>
<!-- 		</div>
	</div>
 -->	<%= render partial: "layouts/footer" %>
</body>
</html>